
  .loading {
    width: 100px;
    height: 100px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #64b2d6; /* Blue */
    border-radius: 50%;
  }
  
  
  
  
  
  
  
  
  
  
  